<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nb.dao.UserMapper" >
  
    <select id="selectLogin" resultType="com.nb.model.RoleUser" parameterType="String">
   select * from WT_SYS_ROLEUSER where CD_USRL = #{cd_usrl,jdbcType=VARCHAR}
  </select>
 
</mapper>